@use './variables.scss' as *;
@use './calendar.scss';

:root {
  font-family: $calendar-font;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
